.form {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 260px;
}

.form__group {
  margin-bottom: 1rem;
}

.form__row {
  margin-bottom: 0.5rem;
}

.form__row--submit {
  text-align: right;
}

.form__label {
  display: block;
  margin-bottom: 0.2rem;
}

.form__input {
  display: block;
  width: 100%;
}

.form__status {
  float: left;
  line-height: 2em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.form__status--success {
  color: green;
  opacity: 1;
}
